.tam1{
    height: 100px;
}
.cor1{
    background-color: brown;
}
.cor2{
    background-color: aquamarine;
}
.cor3{
    background-color: blueviolet;
}
.cor4{
    background-color: blue;
}
.cor5{
    background-color: darkgreen;
}
.tam2{
    height: 300px;
}
.tam3{
    height: 400px;
}